{
  "env": {
    "browser": true,
    "jest": false,
    "node": false
  },
  "extends": [
    "canonical",
    "canonical/browser",
    "canonical/json",
    "canonical/jsx-a11y",
    "canonical/node",
    "canonical/react",
    "canonical/typescript",
    "plugin:import/typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["import"],
  "rules": {
    // Prefer type[] over Array<type>
    "@typescript-eslint/array-type": [
      2,
      {
        "default": "array"
      }
    ],
    // Prefer interfaces, where possible, to types
    "@typescript-eslint/consistent-type-definitions": [2, "interface"],
    // Clashes with prettier
    "canonical/destructuring-property-newline": 0,
    // Clashes with prettier
    "canonical/export-specifier-newline": 0,
    // Make sure filenames are kebab case
    "canonical/filename-match-regex": [2, "^[a-z0-9-.]+$", true],
    // Clashes with prettier
    "canonical/import-specifier-newline": 0,
    // Custom ordering
    "import/order": [
      2,
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    // Warn when console left in
    "no-console": 1,
    // Clashes with "import/order"
    "unicorn/prefer-node-protocol": 0
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    }
  }
}
